@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The following information is created and stored in A database. None of this information will be used without the user's permission.<br/>
1. email address, password and possibly A user name and what ever is entered in the fields for creating recipes.<br/>
All data stored can not be viewed by others. No data is intended to be used for any other purposes than for this application.</p>
<p><b>By using this site, you agree to the privacy policy.</b></p>