@{
    ViewData["Title"]="Create new recipe";
}

<form method="post" action="/Recipe/Create">
    <input type="text" placeholder="Enter recipe title" name="Title" required/>
    <textarea name="Ingredients" placeholder="Enter Recipe Ingredients delimit with a cemi colon" required></textarea>
    <textarea name="Instructions" placeholder="Enter Recipe Instructions Delimit with A cemi Colon" required></textarea>
    <input type="submit" value="Create"/>
</form>