@model RecipeModel

@{
    ViewData["Title"]=Model.Title;
}

<div>
    <h1>Title: @Model.Title</h1>
    <hr/>
    <h2>Ingredients</h2>
    <ul>
        @{
            var ingredients=Model.ingredients.Split(";");
            foreach(var i in ingredients) {
                <li>@i</li>
            }
        }
    </ul>
    <hr/>
    <h2>Instructions</h2>
    <ul>
        @{
            var instructions=Model.Instructions.Split(";");
            foreach (var i in instructions) {
                <li>@i</li>
            }
        }
    </ul>
    <hr/>
    <a asp-action="UpdateRecipe"  asp-controller="Recipe" asp-route-id="@Model.Id">Edit</a>
</div>    
