@model RecipeModel

@{
    ViewData["Title"]=Model.Title;
}

<div>
    <h1>Title: @Model.Title</h1>
    <hr/>
    <p>Ingredients</p>
    <ul>
        @{
            var ingredients=Model.ingredients.Split(";");
            foreach(var i in ingredients) {
                <li>@i</li>
            }
        }
    </ul>
    <hr/>
    <p>Instructions</p>
    <ul>
        @{
            var instructions=Model.Instructions.Split(";");
            foreach (var i in instructions) {
                <li>@i</li>
            }
        }
    </ul>
    <hr/>
</div>    
